@CHARSET "UTF-8";

div#box {
	opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	position: relative;
}

div.tile {
	position: absolute;
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
}

div.clear {
	background-color: #ffffff;
}

div.occupied {
	background-color: #000000;
}

div.start {
	background-color: #c0fcff;
}

div.goal {
	background-color: #98a7eb;
}

div.goalPath {
	background-color: #eaefb8;
}